<%= form_tag messages_path do %>

<p>
	<%= label_tag t(:name) %>
	<%= text_field_tag :name, nil, class: "form-control half" %>
</p>
<p>
	<%= label_tag t(:phone) %>
	<%= text_field_tag :email, nil, class: "form-control half" %>
</p> 
<p>
	<%= label_tag t(:email) %>
	<%= text_field_tag :email, nil, class: "form-control half" %>
</p> 
<p>
	<%= label_tag t(:message) %>
	<%= text_area_tag :message, nil, class: "form-control half" %>
</p> 
<%= submit_tag "Submit message" %>
<% end %>