<h1>Events <small>Admin</small></h1>
<p><%= link_to "Back to Admin", admin_root_path %></p>
<p><%= link_to "New event manager", new_admin_event_manager_path %></p>

<div class="text-center">
  <p><%= page_entries_info @managers %></p>
  <%= paginate @managers %>
</div>

<%= form_tag admin_event_managers_path, method: 'get', html: {role: "form"} do %>
  <p>
    <%= text_field_tag :search, params[:search], placeholder: "Search not built yet" %>
    <%= submit_tag "Search", :name => nil, class: "btn btn-sm btn-primary" %>
    <%= link_to "All", admin_event_managers_path, {class: "btn btn-sm btn-link"} %>
  </p>
<% end %>

<table class="table table-striped">
  <tr>
    <th>managers ID</th>
    <th>Username</th>
    <th>venuename</th>
    <th>Approved?</th>
    <th>Created at</th>
  </tr>
  
  <% @managers.each do |manager| %>
  
  <tr>
    <td><%= manager.id %></td>
    <td><%= link_to manager.user.username.capitalize, admin_event_manager_path(manager) %></td>
    <td><%= manager.event.name %></td>
    <td><%= manager.approved  %></td>
    <td><%= time_ago_in_words(manager.created_at) %></td>
  </tr>
  
  <% end %>
  
</table>

<div class="text-center">
  <p><%= page_entries_info @managers %></p>
  <%= paginate @managers %>
</div>