<h1>Slides <small>Admin</small></h1>
<p><%= link_to "Back to Admin", admin_root_path %></p>
<p><%= link_to "New Slide", new_admin_slide_path %></p>

<table class="table table-striped">
  <tr>
    <th>ID</th>
    <th>English Title</th>
    <th>Korean Title</th>
    <th>Active?</th>
    <th>Created At</th>
  </tr>
  
  <% @slides.each do |slide| %>
  
  <tr>
    <th><%= link_to slide.id, admin_slide_path(slide) %></td>
    <td><%= link_to slide.en_title, admin_slide_path(slide) %></td>
    <td><%= slide.ko_title %></td>
    <td><%= slide.active %></td>
    <td><%= time_ago_in_words(slide.created_at) %></td>
    <% end %>
  </tr>
  
</table>