<hr>
<%= form_for [:admin, @event] do |f| %>
	<p>	
		<%= f.label t(:event_name_e) %>
		<%= f.text_field :name, class: "form-control half" %>
	</p><br/>

	<p>
		<%= f.label t(:event_name_k) %>
		<%= f.text_field :ko_name, class: "form-control half" %>
		<%= t(:event_name_note) %>
	</p><br />

	<% if I18n.locale == :en %>
	  <p>
	    <%= f.label t(:city) %>
	    <%= f.collection_select :city_id, City.order(:en_name), :id, :en_name %>
	  </p>
  <% else %>
		<p>
			<%= f.label t(:city) %>
			<%= f.collection_select :city_id, City.order(:ko_name), :id, :ko_name %>
		</p>
  <% end %>
<hr>
	<% unless @event.avatar.blank? %>
		<p>
			Current image:<br/>
			<%= image_tag(@event.avatar :medium) %>
		</p>
	<% end %>

	<p><%= f.label t(:event_poster) %></p>
	<p><%= f.file_field :avatar %></p>
	<p><%= t(:event_poster_note) %></p>

	<hr>

	<div id="en_bands">
		<p>
			<%= f.label t(:band_playing) %>
			<% if @event.new_record? %>
				<%= f.text_field :band_tokens %>
			<% else %>
				<%= f.text_field :band_tokens, data: {load: @event.bands} %>
			<% end %>
		</p>
	</div>


	<p><%= t(:band_playing_note)%></p><br>
 

	<hr>
	<div id="en_venue">
		<p>
			<%= f.label t(:venue) %>
			<% if @event.new_record? %>
				<%= f.text_field :venue_tokens %>
			<% else %>
				<%= f.text_field :venue_tokens, data: {load: @event.venue.to_json } %>
			<% end %>
		</p>
	</div>
			

  <hr>

	<%= f.label t(:start_date) %>
	<%= f.text_field :date, class: "form-control half date" %><br />
	<%= f.label t(:show_time) %>
	<%= f.text_field :time, placeholder: "7:40pm", class: "form-control half" %><br />

	<%= f.label t(:event_contact) %>
	<%= f.text_field :contact, class: "form-control half" %><br />

	<%= f.label t(:facebook_event) %>
	<%= f.text_field :facebook, class: "form-control half" %><br />
	
	<hr>

	<%= f.label t(:ticket_status) %>
	<%= f.select(:ticket, options_for_select([['Yes', true], ['No', false]], 2)) %><br />

	<p><%= f.label t(:advanced_ticket_price) %>
		<%= f.text_field :price, placeholder: "e.g. 10,000 (Do not enter the currency sign)", class: "form-control half" %>
		<%= t(:advanced_ticket_price_notes) %>
	</p>


	<p>
		<%= f.label t(:door_ticket_price) %>
		<%= f.text_field :door_price, placeholder: "e.g. 10,000 (Do not enter the currency sign)", class: "form-control half" %>
		<%= t(:door_ticket_price_notes) %>
	</p>

	<p>
		<%= f.label t(:buy_tickets) %>
		<%= f.text_field :ticket_url, class: "form-control half" %>
		<%= t(:buy_tickets_notes) %>
	</p>

	<hr>
	<%= f.label t(:event_details_en) %>
	<%= f.text_area :info, rows: 10, class: "form-control mid" %><br />

	<%= f.label t(:event_details_ko) %>
	<%= f.text_area :info_ko, rows: 10, class: "form-control mid" %><br />
	<p><%= t(:event_details_notes)%></p><br>

	<p>
		<%= f.label :approved %>
		<%= f.check_box :approved %>
	</p>
	
	<%= f.submit nil, class: "btn btn-primary" %>
	
<% end %>