<div class="row">
  <div class="col-sm-6">
    <h1>
      Edit Event <small><%= "#{@event.name.capitalize} - id: #{@event.id}" %></small>
    </h1>
    <p><%= link_to "Back to events", admin_events_path %></p>

    <%= form_for [:admin, @event], :html => { :role => "form" } do |f| %>
    
    <div class="form-group">
      <%= f.label :name %>
      <div class="row">
        <div class="col-sm-6">
          <%= f.text_field :name, :autofocus => true, class: "form-control" %>  
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <%= f.label :contact %>
      <div class="row">
        <div class="col-sm-6">      
          <%= f.text_field :contact, class: "form-control" %>  
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :price %>
      <div class="row">
        <div class="col-sm-6">
          <%= f.text_field :price, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :info %>
      <div class="row">
        <div class="col-sm-6">
          <%= f.text_field :info, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :date %>
      <div class="row">
        <div class="col-sm-6">
          <%= f.date_select :date, start_year: 2014, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :time %>
      <div class="row">
        <div class="col-sm-6">
          <%= f.text_field :time, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :venue_id %>
      <div class="row">
        <div class="col-sm-6">
          <%= f.select(:venue_id, options_for_select(Venue.order(name: :asc).collect { |v| [v.name, v.id]} ), class: "form-control") %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :approved %>    
      <div class="row">
        <div class="col-sm-6">
          <%= f.select(:approved, options_for_select([["no", false], ["yes", true]] ), class: "form-control") %> 
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <%= f.submit "Update event", class: "btn btn-danger" %>
      </div>
    </div>    
    <% end %>

  </div>
</div>