<h1>Events <small>Admin</small></h1>
<p><%= link_to "Back to Admin", admin_root_path %></p>

<p><%= link_to "Get raw event data", admin_events_data_path %></p>

<div class="text-center">
  <p><%= page_entries_info @events %></p>
  <%= paginate @events %>
</div>

<%= form_tag admin_events_path, method: 'get', html: {role: "form"} do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil, class: "btn btn-sm btn-primary" %>
    <%= link_to "All", admin_events_path, {class: "btn btn-sm btn-link"} %>
  </p>
<% end %>

<table class="table table-striped">
  <tr>
    <th><%= sortable "id" %></th>
    <th><%= sortable "name" %></th>
    <th>Ko Name</th>
    <th>Approved</th>
    <th>Venue</th>
    <th>Created by</th>
    <th><%= sortable "created_at", "Created At" %></th>
  </tr>
  
  <% @events.each do |event| %>
  
  <tr>
    <td><%= event.id %></td>
    <td><%= link_to event.name.capitalize, admin_event_path(event) %></td>
    <td><%= event.ko_name %></td>
    <td><%= event.approved %></td>
    <% unless event.venue.blank? %>
    <td><%= link_to event.venue.name, admin_venue_path(event.venue) %></td>
    <% else %>
    <td></td>
    <% end %>
    <% unless event.user_id.blank? %>
    <td><%= link_to "#{event.user.username}", admin_user_path(event.user) %></td>
    <% else %>
    <td></td>
    <% end %>
    <td><%= time_ago_in_words(event.created_at) %></td>
  </tr>
  
  <% end %>
  
</table>

<div class="text-center">
  <p><%= page_entries_info @events %></p>
  <%= paginate @events %>
</div>