<%= form_for @event do |f| %>
	<%= f.label t(:event_name_e) %>
	<%= f.text_field :name, class: "form-control half" %><br />
	<%= f.label t(:event_name_k) %>
	<%= f.text_field :ko_name, class: "form-control half" %><br />
	<p><%= t(:event_name_note) %></p>
	<%= f.label t(:event_poster) %>
	<%= f.file_field :avatar %><br />
	<p><%= t(:event_poster_note) %></p>
	<% if I18n.locale == :en %>
	<p>
		<%= f.label t(:band_playing) %>
		<%= f.collection_select :band_ids, Band.order(:name), :id, :name, {}, {multiple: true} %>
	</p>
	<% elsif I18n.locale == :ko %>
	<p>
		<%= f.label t(:band_playing) %>
		<%= f.collection_select :band_ids, Band.order(:korean_name), :id, :korean_name, {}, {multiple: true} %>
	</p>
	<% end %>
		
	<p><%= t(:band_playing_note)%></p>
  
	<div id="new_band">
		<h3>Band not listed?</h3>
	    <div id="add_band" class="btn btn-warning">Click here to add a band<i class="fa fa-plus"></i></div>

		<div id="new_bands">
			<p>
				<%= f.fields_for :bands do |ff| %>
					<%= ff.label "New Band Name" %>
				  <%= ff.text_field :name, class: "form-control half" %>
			  <% end %>
		  </p>
		</div>
	</div>
	<h4><%= t(:venue) %></h4>
	<%= f.label :venue_id %>
	<%= f.select(:venue_id, options_for_select(Venue.order(name: :asc).collect { |v| [v.name, v.id]}.insert(0, "") )) %><br />
	<p><%= t(:venue_note) %></p><br />

  <div id="new_venue">
   <p>Venue not listed?</p>
    <div id="add_venue" class="btn btn-warning">Click here to add your venue<i class="fa fa-plus"></i></div>

    <div id="new_venue_form">
    	<%= f.fields_for :venue do |ff| %>
	    	<%= ff.label "New Venue Name" %>
	    	<%= ff.text_field :name %>
    	<% end %>
    </div>
  </div>

	<%= f.label t(:start_date) %>
	<%= f.date_select :date, start_year: 2014, class: "form-control half" %><br />
	<%= f.label t(:show_time) %>
	<%= f.text_field :time, placeholder: "7:40pm", class: "form-control half" %><br />

	<%= f.label t(:event_contact) %>
	<%= f.text_field :contact, class: "form-control half" %><br />

	<%= f.label t(:facebook_event) %>
	<%= f.text_field :facebook, class: "form-control half" %><br />
	
	<%= f.label t(:ticket_status) %>
	<%= f.select(:ticket, options_for_select([['Yes', true], ['No', false]], 2)) %><br />

	<p><%= f.label t(:advanced_ticket_price) %>
		<%= f.text_field :price, placeholder: "e.g. 10,000 (Do not enter the currency sign)", class: "form-control half" %>
		<%= t(:advanced_ticket_price_notes) %>
	</p>


	<p>
		<%= f.label t(:door_ticket_price) %>
		<%= f.text_field :door_price, placeholder: "e.g. 10,000 (Do not enter the currency sign)", class: "form-control half" %>
		<%= t(:door_ticket_price_notes) %>
	</p>

	<p>
		<%= f.label t(:buy_tickets) %>
		<%= f.text_field :ticket_url, class: "form-control half" %>
		<%= t(:buy_tickets_notes) %>
	</p>

	<%= f.label t(:event_details_en) %>
	<%= f.text_area :info, class: "form-control half" %><br />

	<%= f.label t(:event_details_ko) %>
	<%= f.text_area :info_ko, class: "form-control half" %><br />
	<p><%= t(:event_details_note)%></p>
	
	<%= f.submit %>
	
<% end %>

<script>
  $(document).ready(function() { $('#event_band_ids').chosen({width: "50%"}); });
  $(document).ready(function() { $('#event_venue_id').chosen({width: "50%"}); });
  $(document).ready(function() { 
  	$('#new_bands').hide(); 
  });

  $(document).ready(function() {
  	$('#new_venue_form').hide();
  });

  $(document).ready(function() {
    $('#add_band').on('click', function() {
    	$(this).closest('#new_band').find('#new_bands').toggle();
    });
	});

	$(document).ready(function() {
    $('#add_venue').on('click', function(){
				$(this).closest('#new_venue').find('#new_venue_form').toggle();
		});		
	});
  
</script>