<div id="raw_data">
  <p>
    ✦✦✦✦ <%= @event.ko_name %> / <%= @event.name %> [Eng below] ✦✦✦✦
  </p>
  <p>
    * 일시: <%= @event.date %> <%= @event.time %>
  </p>
  <% unless @event.venue.blank? %>
    <p>
      * 장소: <%= @event.venue.ko_name %>
    </p>
  <% end %>
  <% unless @event.door_price.blank? %>
    <p>
      * 입장료: (현매) <%= @event.door_price %>원
    </p>
  <% end %>
  <% unless @event.ticket_price.blank? %>
    <p>
      * 입장료: (에매) <%= @event.ticket_price %>원
    </p>
  <% end %>
  <% unless @event.bands.blank? %>
    <p>
      * 라인업 : <% @event.bands.each do |b| %> <%= b.name %>, <% end %>
    </p>
  <% end %>
  <p>
    hidden-dawn-9617.herokuapp.com<%= url_for(event_ko_path(@event)) %>
  </p>
  <p>
    *Date: <%= @event.date %> <%= @event.time %>
  </p>
  <% unless @event.venue.blank? %>
    <p>
      *Venue: <%= @event.venue.name %>
    </p>
  <% end %>
  <% unless @event.ticket_price.blank? %>
    <p>
      * Adv: <%= @event.ticket_price %>원
    </p>
  <% end %>
  <% unless @event.door_price.blank? %>
    <p>
      * Door: <%= @event.door_price %>원
    </p>
  <% end %>
  <% unless @event.bands.blank? %>
    <p>
      * Lineup : <% @event.bands.each do |b| %> <%= b.name %>, <% end %>
    </p>
  <% end %>
  <p>
    ----✦✦ 밴드들 (Bands) ✦✦----
  </p>
    <% unless @event.bands.blank? %>
      <% @event.bands.each do |b| %>
        <p>
          *<%= b.korean_name %> (<%= b.name %>)<br/>
          <%= b.facebook %><br />
          <%= b.site %><br />
          <%= b.twitter %><br />
          hidden-dawn-9617.herokuapp.com<%= url_for(b) %>
        </p>
      <% end %> 
    <% end %>

    <% unless @event.venue.blank? %>
      ----✦✦ 장소 / Venue ✦✦----<br />
      <%= @event.venue.ko_name%> (<%= @event.venue.name %>)
      <%= @event.venue.facebook %><br/>
      <%= @event.venue.twitter %><br/>
      <%= @event.venue.website %><br/>
      hidden-dawn-9617.herokuapp.com<%= url_for(event_en_path(@event)) %><br />
    <% end %><br /><br />

    * 오시는 길 / Directions :
      <% unless @event.venue.blank? %>
      <%= @event.venue.en_directions %><br />
      <%= @event.venue.ko_directions %><br />
      <% end %><br />

    ----✦✦ <%= @event.name %> ✦✦----
    <p><%= @event.info%></p>
    <p><%= @event.info_ko%></p>


    ♪♪ powered by doindie ♪♪ doindie links<br/>

    ✦ www.doindie.co.kr<br />
    ✦ www.facebook.com/doindie.kr<br />
    ✦ www.twitter.com/DoIndieKorea<br />
    ✦ http://blog.naver.com/doindie<br />
  </p>
</div>