<div id="raw_data">
  <p>
    ✦✦✦✦ <%= @event.ko_name %> / <%= @event.name %> [Eng below] ✦✦✦✦
  </p>
  <p>
    * 일시: <%= @event.date %> <%= @event.time %>
    <% unless @event.venue.blank? %><br/>
      * 장소: <%= @event.venue.ko_name %>
    <% end %>
    <% unless @event.door_price.blank? %>
      * 입장료: (현매) <%= @event.door_price %>원<br/>
    <% end %>
    <% unless @event.ticket_price.blank? %>
      * 입장료: (에매) <%= @event.ticket_price %>원
    </p>
    <% end %>
  <% unless @event.bands.blank? %>
    <p>
      * 라인업 : <% @event.bands.each do |b| %> <%= b.korean_name %> / <% end %>
    </p>
  <% end %>
  <p>
    hidden-dawn-9617.herokuapp.com<%= url_for(event_ko_path(@event)) %>
  </p>
  <p>
    * Date: <%= @event.date %> <%= @event.time %><br/>
    <% unless @event.venue.blank? %>
      * Venue: <%= @event.venue.name %><br/>
    <% end %>
    <% unless @event.ticket_price.blank? %>
      * Adv: <%= @event.ticket_price %>원<br/>
    <% end %>
    <% unless @event.door_price.blank? %>
      * Door: <%= @event.door_price %>원
    <% end %>
  </p>
    <% unless @event.bands.blank? %>
    <p>
      * Lineup : <% @event.bands.each do |b| %> <%= b.name %> / <% end %>
    </p>
  <% end %>
  <p>
    hidden-dawn-9617.herokuapp.com<%= url_for(event_en_path(@event)) %>
  </p>
  
  <p>
    ----✦✦ 밴드들 (Bands) ✦✦----
  </p>
    <% unless @event.bands.blank? %>
      <% @event.bands.approved.each do |b| %>
        <p>
          * <%= b.korean_name %> (<%= b.name %>)<br/>
          <% unless b.facebook.blank? %>
            <%= b.facebook %><br />
          <% end %>
          <% unless b.site.blank? %>
            <%= b.site %><br />
          <% end %>
          <% unless b.twitter.blank? %>
            <%= b.twitter %><br />
          <% end %>
          <% if b.approved %>
            hidden-dawn-9617.herokuapp.com<%= url_for(b) %>
          <% end %>
        </p>
      <% end %>
      <% @event.bands.unapproved.each do |b| %>
        <p>
          * <%= b.korean_name %> (<%= b.name %>)
        </p>
      <% end %> 
    <% end %>

    <% unless @event.venue.blank? %>
      <p>
        ----✦✦ 장소 / Venue ✦✦----<br />
        <%= @event.venue.ko_name%> (<%= @event.venue.name %>)<br/>
        <% unless @event.venue.facebook.blank? %>
          <%= @event.venue.facebook %><br/>
        <% end %>
        <% unless @event.venue.twitter.blank? %>
          <%= @event.venue.twitter %><br/>
        <% end %>
        <% unless @event.venue.website? %>
          <%= @event.venue.website %><br/>
        <% end %>
      </p>
    <% end %>

    <% unless @event.venue.blank? %>
    <p>
      * 오시는 길 / Directions : 
      <%= @event.venue.ko_directions %><br />
      <%= @event.venue.en_directions %>
    </p>
    <% end %>
  
    <p>
      ----✦✦ <%= @event.ko_name %> / <%= @event.name %> ✦✦----<br />
      <% unless @event.info_ko.blank? %>
        <%= @event.info_ko.html_safe %><br/>
      <% end %>
      <% unless @event.info.blank? %>
        <%= @event.info.html_safe %>
      <% end %>
    </p>

    <p>
      ♪♪ powered by doindie ♪♪
    </p>
    <p>
      ✦ www.doindie.co.kr<br />
      ✦ www.facebook.com/doindie.kr<br />
      ✦ www.twitter.com/DoIndieKorea<br />
      ✦ http://blog.naver.com/doindie<br />
    </p>
</div>