<div class="row">
	<div class="col-md-12">
    <% unless @events.blank? %>
    <h2>Events for <%= @events.first.date %></h2>
      <%= render 'shared/events_list', events: @events %>
    <% else %>
      <h2><%= t(:no_results) %></h2>
    <% end %>
	</div>
</div>

  <%= form_tag calendar_path, method: 'get', html: {role: "form"} do %>
    <p>
      <%= text_field_tag :date_search, params[:date_search], placeholder: "Date search", class: "form-control half date" %>
      <%= submit_tag "Search", :name => nil, class: "btn btn-sm btn-primary" %>
      <%= link_to "All", events_path, {class: "btn btn-sm btn-link"} %>
    </p>
  <% end %>

<script type="text/javascript">
	$(document).ready(function() {
		$('.date').datepicker({format: 'yyyy/mm/dd'});
	})
</script>