<div class="row page-header">
  <div class="col-sm-9">
    <h1 class="page-title pull-left">
      <%= t(:events) %>
    </h1>
    <div class="row events_selector pull-right">
      <div class="col-xs-12 row-fluid">
        <div class="btn-group col-xs-12 row-fluid">
          <%= link_to t(:upcoming), events_path, class: 'btn btn-warning active col-xs-6' %>
          <%= link_to t(:past), past_events_path, class: 'btn btn-default col-xs-6' %>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>

  <%= form_tag calendar_path, method: 'get', html: {role: "form"} do %>
    <p>
      <%= text_field_tag :date_search, params[:date], placeholder: "Date search", class: "form-control half date" %>
      <%= submit_tag "Search", :name => nil, class: "btn btn-sm btn-primary" %>
      <%= link_to "All", admin_bands_path, {class: "btn btn-sm btn-link"} %>
    </p>
  <% end %>


  <div class="col-sm-3 searchform">
    <%= form_tag events_path, method: :get, class: 'form-inline' do %>
    <div>
      <div class="input-group col-xs-12">
      	<%= text_field_tag :query, params[:query], placeholder: "Search", class: "form-control date input-sm" %>
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-search"></i></button>
      </span>
      </div>
    </div>
    <% end %>
  </div>
</div>

<%= render 'shared/events_list', :events => @events %>

<script type="text/javascript">
    $(document).ready(function() {
    $('.date').datepicker();
  })
</script>

