<%= @event.name %>
<% if @event.event_venues.count != 0 %>
   <p>It's at: <%= link_to @event.event_venues.first.venue.name, venue_path(@event.event_venues.first.venue) %></p>
<% else %>
  <p>This event has no venue! Please add one below!<p>
<% end %>

<% if @event.event_bands.count != 0 %>
	<p>These bands are playing:</p>
	<% @event.event_bands.each do |eventband| %>
		<%= link_to eventband.band.name, band_path(eventband.band) %><br />
	<% end %>
<% end %>


<% if current_user && current_user.admin == true %>

    <%= form_tag(event_bands_path, method: 'post') do %>
    <%= label_tag(:event_band, "Add a band") %>
	<%= select_tag(:band_id, options_for_select(Band.order(name: :asc).collect { |b| [b.name, b.id]} )) %>
	<%= hidden_field_tag :event_id, @event.id%>
	<%= submit_tag "Add Band" %>
	<br />
	<% end %>
<% end %>

<% if current_user && current_user.admin == true && @event.event_venues.count == 0 %>
	<%= form_tag(event_venues_path, method: 'post') do %>
    <%= label_tag(:event_venue, "Add a venue") %>
	<%= select_tag(:venue_id, options_for_select(Venue.order(name: :asc).collect { |v| [v.name, v.id]} )) %>
	<%= hidden_field_tag :event_id, @event.id%>
	<%= submit_tag "Add Venue" %>
	<br />
	<% end %>
<% end %>