<% if I18n.locale == :en %>
  <% provide(:title, @event.name) %>
<% else %>
  <% provide(:title, @event.ko_name) %>
<% end %>
<div class="container-fluid event-detail">
  <div class="row">
    <h1 class="page-title"><%= @event.name %></h1>
    <h2><%= @event.date %></h2>
    <div class="col-sm-5 col-sm-push-7">
      <%= image_tag @event.avatar(:large) %>
    </div>
    <div class="col-sm-7 col-sm-pull-5 vcard">
      <table class="table table-hover">
        <tr>
          <td width="40%"><%= t(:show_time) %></td>
          <td><%= @event.time %></td>
        </tr>
        <% unless @event.ticket.blank? %>
        <tr>
          <td><%= t(:status) %></td>
          <td><%= t(:tickets_available) %></td>
        </tr>
        <tr>
          <td><%= t(:advance_ticket) %></td>
          <td><i class="fa fa-won"></i> <%= @event.price %></td>
        </tr>
        <tr>
          <td><%= t(:door_price) %></td>
          <td><i class="fa fa-won"></i> <%= @event.door_price %></td>
        </tr>
        <% else %>
        <tr>
          <td><%= t(:status) %></td>
          <td><%= t(:sold_out) %></td>
        </tr>
        <% end %>
        <% unless @event.city.blank? %>
          <tr>
            <td><%= t(:city) %></td>
            <td><%= @event.city.en_name %> | <%= @event.city.ko_name %></td>
          </tr>
        <% end %>
 

      </table>
      
      <h2><%= t(:venue) %></h2>
      <% if @event.venue %> <!-- venue detail -->
        <div class="row-fluid"><%= image_tag @event.venue.avatar(:medium) %></div>
        <h3><%= link_to @event.venue.name, venue_path(@event.venue) %></h3>
        <div class="row-fluid vcard">
          <table class="table table-hover">
          <% unless @event.venue.phone == nil %>
            <tr>
              <td><%= t(:venue_phone) %></td>
              <td><%= @event.venue.phone %></td>
            </tr>
          <% end %>
          <% unless @event.venue.email == nil %>
            <tr>
              <td><%= t(:venue_email) %></td>
              <td><%= @event.venue.email %></td>
            </tr>
          <% end %>
          <% unless @event.venue.address == nil %>
            <tr>
              <td><%= t(:venue_address) %></td>
              <td><%= @event.venue.address %></td>
            </tr>
          <% end %>
          </table>
        </div>


        <h3><%= t(:directions) %></h3>  
        <!-- Direction -->
        <% if I18n.locale == :ko %>
          <% unless @event.venue.ko_directions.blank? %>
          <p><%= @event.venue.ko_directions.html_safe %></p>
          <% end %>
        <% else %>
          <% unless @event.venue.en_directions.blank? %>
            <p><%= @event.venue.en_directions.html_safe %></p>
          <% else unless @event.venue.ko_directions.blank? %>            
              <p><%= @event.venue.ko_directions.html_safe %></p>
            <% else %>
              <p><%= t(:no_directions)%></p>
            <% end %>
          <% end %>
        <% end %>
        
      <% else %>
      <p>This event has no venue yet<p>
      <% end %> <!-- /venue detail -->
      
    </div>
  </div> <!-- /row -->
  
  <div class="row">
    <h2><%= t(:line_up) %></h2>
    <% if @event.event_bands.count != 0 %>
    <div id="bands-grid" class="container-fluid">
      <div class="grid-tiles">
        <% @event.event_bands.each do |eventband| %>
          <% band = eventband.band %>
            <%= div_for(band, class: "list bands-grid-item tile") do %>
              <div class="thumbnail">
                <%= image_tag band.avatar.url(:medium) %>
                <div class="caption">
                  <h3><%= link_to band.name, band_path(band) %></h3>
                  <h4><%= link_to band.korean_name, band_path(band) %></h4>
                  <div class="fanbadge small">
                    Fans
                    <span class="badge"><%= band.fans %></span>
                  </div>
                    
                  <div class="likebtn">     
                    <% if current_user && current_user.user_fans.where(band_id: band.id).count != 0 %>
                      <%= link_to "<i class=\"fa fa-thumbs-up\"></i> Unlike".html_safe, user_fan_path(id: band.id), method: 'delete' %>
                    <% elsif current_user %>
                      <%= link_to "<i class=\"fa fa-thumbs-o-up\"></i> Like".html_safe, user_fans_path(band_id: band.id), method: 'post' %>
                    <% else %>
                      <%= link_to t(:signup), new_user_registration_path %> 
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %> <!--div_for-->
        <% end %>
      </div>
     
    </div>
    <% else %>
    <% end %>
  </div><!-- /row -->

  <div class="row-fluid">
    <% if I18n.locale == :en %>
    <% unless @event.info.blank? %>
    <p><%= @event.info %></p>
    <% else %>
    <p><%= t(:no_en_info) %></p>
    <%= @event.info_ko %>
    <% end %>
    <% else %>
    <% unless @event.info_ko.blank? %>
    <p><%= @event.info_ko %></p>
    <% else %>
    <p><%= t(:no_ko_info) %></p>
    <%= @event.info %>
    <% end %>
    <% end %>
  </div>

  <div class="row-fluid">
    <%= render 'shared/socialshare' %>
  </div>

  <div class="row-fluid">
    <div id="showData" class="btn btn-lg btn-primary"><%= t(:share_event)%></div>
    <%= render 'share' %>

  <div class="row-fluid">
    <% if current_user && current_user.event_managers.where(event_id: @event.id).count == 0 %>
    <p><%= link_to t(:manager_request), event_managers_path(event_id: @event.id), method: 'post' %>.</p>
    <% elsif current_user && current_user.event_managers.where(event_id: @event.id).count != 0 && current_user.event_manager?(@event.id) == true %>
    <p><%= link_to t(:event_edit), edit_event_path(@event) %></p>
    <% elsif current_user && current_user.event_managers.where(event_id: @event.id).count != 0 %>
    <p><%= t(:pending_approval) %></p>
    <% else %>
    <p><%= link_to t(:login_request), new_user_session_path %><p>
    <% end %>
    <% if current_user && current_user.admin == true %>
    <%= link_to t(:event_edit), edit_event_path(@event) %>
    <% end %>
  </div>

</div><!-- /container-fluid -->