<div class="row">
  <div class="col-md-8">

	  <h2><%= @event.name %></h2>
	  <h3><%= @event.date %></h3>
    
    <% if I18n.locale == :en %>
      <% unless @event.info.blank? %>
        <p><%= @event.info %></p>
      <% else %>
        <p><%= t(:no_en_info) %></p>
        <%= @event.info_ko %>
      <% end %>
    <% else %>
     <% unless @event.info_ko.blank? %>
        <p><%= @event.info_ko %></p>
      <% else %>
        <p><%= t(:no_ko_info) %></p>
        <%= @event.info %>
      <% end %>
    <% end %>
    
	  <p><%= t(:show_time) %><%= @event.time %>
	  <% unless @event.ticket.blank? %>
		  <p><%= t(:tickets_available) %></p>
		  <p><%= t(:advance_ticket) %> <%= @event.price %></p>
		  <p><%= t(:door_price) %> <%= @event.door_price %></p>
	  <% else %>
		  <p><%= t(:sold_out) %></p>
  	<% end %>

  	<% if @event.venue %>
	     <h2><%= t(:location) %></h2>
	     <p><%= link_to @event.venue.name, venue_path(@event.venue) %> <%= t(:city) %> <%= @event.venue.city_en %></p>
  	<% else %>
	    <p>This event has no venue yet<p>
  	<% end %>

  	<% if @event.event_bands.count != 0 %>
	  	<p><%= t(:line_up) %></p>
  		<% @event.event_bands.each do |eventband| %>
	  		<%= link_to eventband.band.name, band_path(eventband.band) %><br />
	  	<% end %>
	  <% end %>
  </div><!--col-md-8-->
  <div class="col-md-4">
  	<%= image_tag @event.avatar(:medium) %>
    <% if @event.event_bands.count != 0 %>
	  	<h2><%= t(:line_up) %></h2>
      <% @event.event_bands.each do |eventband| %>
		  	<%= link_to image_tag(eventband.band.avatar(:medium)), band_path(eventband.band) %><br />
      <% end %>
   <% end %>
  </div>
</div><!--row-->


<div id="showData" class="btn btn-lg btn-primary"><%= t(:share_event)%></div>
<div id="raw_data">
  <p><%= t(:share_me) %></p>
  <p>
    <%= @event.ko_name %> / <%= @event.name %> [Eng below]<br />
    * 일시: <%= @event.date %> <%= @event.time %><br />
    <% unless @event.venue.blank? %>
      * 장소: <%= @event.venue.ko_name %><br />
    <% end %>
    <% unless @event.door_price.blank? %>
      * 입장료: (현매) <%= @event.door_price %>원<br />
    <% end %>
    <% unless @event.ticket_price.blank? %>
      * 입장료: (에매) <%= @event.ticket_price %>원<br />
    <% end %>
    <% unless @event.bands.blank? %>
      * 라인업 : <% @event.bands.each do |b| %> <%= b.name %>, <% end %><br /><br />
    <% end %> 

    hidden-dawn-9617.herokuapp.com<%= url_for(event_ko_path(@event)) %><br /><br />

    *Date: <%= @event.date %> <%= @event.time %><br />
    <% unless @event.venue.blank? %>
      *Venue: <%= @event.venue.name %><br />
    <% end %>
    <% unless @event.ticket_price.blank? %>
      * Adv: <%= @event.ticket_price %>원<br />
    <% end %>
    <% unless @event.door_price.blank? %>
      * Door: <%= @event.door_price %>원<br />
    <% end %>
    <% unless @event.bands.blank? %>
      * Lineup : <% @event.bands.each do |b| %> <%= b.name %>, <% end %><br /><br />
    <% end %>

    ----✦✦ 밴드들 (Bands) ✦✦----<br /><br />
    <% unless @event.bands.blank? %>
      <% @event.bands.each do |b| %> 
        *<%= b.korean_name %> (<%= b.name %>)<br/>
        <%= b.facebook %><br />
        <%= b.site %><br />
        <%= b.twitter %><br />
        hidden-dawn-9617.herokuapp.com<%= url_for(b) %><br />
        <% end %> <br />
    <% end %> <br /><br />

    <% unless @event.venue.blank? %>
      ----✦✦ 장소 / Venue ✦✦----<br />
      <%= @event.venue.ko_name%> (<%= @event.venue.name %>)
      <%= @event.venue.facebook %><br/>
      <%= @event.venue.twitter %><br/>
      <%= @event.venue.website %><br/>
      hidden-dawn-9617.herokuapp.com<%= url_for(@event) %><br />
    <% end %><br /><br />

    * 오시는 길 / Directions :
      <% unless @event.venue.blank? %>
      <%= @event.venue.en_directions %><br />
      <%= @event.venue.ko_directions %><br />
      <% end %><br />

    ----✦✦ <%= @event.name %> ✦✦----
    <p><%= @event.info%></p>
    <p><%= @event.info_ko%></p>


    powered by doindie (www.doindie.co.kr / www.facebook.com/doindie.kr / www.twitter.com/DoIndieKorea)
  </p>
</div>

<% if current_user && current_user.event_managers.where(event_id: @event.id).count == 0 %>
	<p><%= link_to t(:manager_request), event_managers_path(event_id: @event.id), method: 'post' %>.</p>
<% elsif current_user && current_user.event_managers.where(event_id: @event.id).count != 0 && current_user.event_manager?(@event.id) == true %>
    <p>You're a manager! <%= link_to "Edit this event", edit_event_path(@event) %></p>
<% elsif current_user && current_user.event_managers.where(event_id: @event.id).count != 0 %>
    <p><%= t(:pending_approval) %></p>
<% else %>
	<p><%= t(:event_request) %> <%= t(:login_request) %><p>
<% end %>

<% if current_user && current_user.admin == true %>
    <%= link_to "Edit this event", edit_event_path(@event) %> 
<% end %>	

<script>
  $(document).ready(function(){
    $('#raw_data').toggle();
    console.log('loaded');

    $('#showData').click(function(){
      $('#raw_data').toggle();
    });
  });
</script>