<div class="row">
  <div class="col-md-8">

	<h2><%= @event.name %></h2>
	<h3><%= @event.date %></h3>

	<p><%= t(:show_time) %><%= @event.time %>
	<% unless @event.ticket.blank? %>
		<p><%= t(:tickets_available) %></p>
		<p><%= t(:advance_ticket) %> <%= @event.price %></p>
		<p><%= t(:door_price) %> <%= @event.door_price %></p>
	<% else %>
		<p><%= t(:sold_out) %></p>
	<% end %>

	<% if @event.venue %>
	   <h2><%= t(:location) %></h2>
	   <p><%= link_to @event.venue.name, venue_path(@event.venue) %> <%= t(:city) %> <%= @event.venue.city_en %></p>
	<% else %>
	  <p>This event has no venue yet<p>
	<% end %>

	<% if @event.event_bands.count != 0 %>
		<p><%= t(:line_up) %></p>
		<% @event.event_bands.each do |eventband| %>
			<%= link_to eventband.band.name, band_path(eventband.band) %><br />
		<% end %>
	<% end %>
  </div><!--col-md-8-->
  <div class="col-md-4">
  	<%= image_tag @event.avatar(:medium) %>
  	<% if @event.event_bands.count != 0 %>
	  	<h2><%= t(:line_up) %></h2>
		<% @event.event_bands.each do |eventband| %>
			<%= link_to image_tag(eventband.band.avatar(:medium)), band_path(eventband.band) %><br />
		<% end %>
	<% end %>
  </div>
</div><!--row-->

<% if current_user && current_user.event_managers.where(event_id: @event.id).count == 0 %>
	<p><%= t(:event_request) %> <%= link_to t(:manager_request), event_managers_path(event_id: @event.id), method: 'post' %>.</p>
<% elsif current_user && current_user.event_managers.where(event_id: @event.id).count != 0 && current_user.event_manager?(@event.id) == true %>
    <p>You're a manager! <%= link_to "Edit this event", edit_event_path(@event) %></p>
<% elsif current_user && current_user.event_managers.where(event_id: @event.id).count != 0 %>
    <p><%= t(:pending_approval) %></p>
<% else %>
	<p><%= t(:event_request) %> <%= t(:login_request) %><p>
<% end %>

<% if current_user && current_user.admin == true %>
    <%= link_to "Edit this event", edit_event_path(@event) %> 
	    <p>Hi, <%= current_user.username %>! Only you can see this part. Do you need to add bands?</p>
	    <%= form_tag(event_bands_path, method: 'post') do %>
	    <%= label_tag(:event_band, "Add a band") %>
		<%= select_tag(:band_id, options_for_select(Band.order(name: :asc).collect { |b| [b.name, b.id]} )) %>
		<%= hidden_field_tag :event_id, @event.id%>
		<%= submit_tag "Add Band" %>
		<br />
		<% end %>
	<% end %>	