<h2><%= current_user.username %>'s page</h2>

<% unless current_user.mailing_list == true %>
<p>
	<%= form_tag sign_up_path, method: 'post', html: {role: "form"} do %>
	<%= label_tag "Signup for the DoIndie newsletter" %>
	<%= submit_tag "Signup" %>
	<% end %>
</p>
<% end %>

<% unless @likes.blank? %>
<p>Bands you like:</p>
	<% @likes.each do |fan| %>
		<%= link_to fan.band.name, band_path(fan.band) %>
	<% end %>
<% end %>
<% unless current_user.bands.blank? %>
	<p>You added these bands:</p>
	<% current_user.bands.each do |band| %>
		<%= link_to band.name, band_path(band) %>
	<% end %>
<% end %>

<% unless current_user.events.blank? %>
	<p>You added these events:</p>
	<% current_user.events.each do |event| %>
		<%= link_to event.name, event_path(event) %>
	<% end %>
<% end %>

<% unless current_user.venues.blank? %>
	<p>You added these venues:</p>
	<% current_user.venues.each do |venue| %>
		<%= link_to venue.name, venue_path(venue) %>
	<% end %>
<% end %>



<% if @managed_bands != nil %>
	<p>You're the manager of these bands:</p>
	<ul>
	<% @managed_bands.each do |band| %>
		<li><%= link_to band.band.name, band_path(band.band.id) %></li>
	<% end %>
	</ul>
<% end %>

<% if @managed_venues != nil %>
	<p>You're the manager of these venues:</p>
	<ul>
	<% @managed_venues.each do |venue| %>
		<li><%= link_to venue.venue.name, venue_path(venue.venue.id) %></li>
	<% end %>
	</ul>
<% end %>

<% if @managed_events != nil %>
	<p>You're the manager of these events:</p>
	<ul>
	<% @managed_events.each do |event| %>
		<li><%= link_to event.event.name, event_path(event.event.id) %></li>
	<% end %>
	</ul>
<% end %>