<div class="row page-header">
	<div class="col-sm-9">
		<h1 class="page-title">
			<%= current_user.username %><%= t(:inner_page)%>
		</h1>
	</div>
	<div class="col-sm-3">
		<%= form_tag bands_path, method: :get, class: 'form-inline' do %>
		<div>
			<div class="input-group col-sm-12 text-center">
      	<%= link_to t(:edit_account), edit_user_registration_path, :class => "btn btn-primary" %>
    	</div>
		</div>
		<% end %>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<% unless current_user.mailing_list == true %>
		<h2><%= t(:newsletter)%></h2>
		<div class="row-fluid">
			<div class="col-xs-12">
				<%= form_tag sign_up_path, method: 'post', html: {role: "form"} do %>
				<%= label_tag t(:newsletter_signup) %>
				<%= submit_tag t(:signup_button), :class => 'btn-info btn' %>
				<% end %>
			</div>
		</div>
		<% end %> <!-- newsletter -->

		<h2>Submissions</h2>
		<div class="vcard">
			<table class="table table-hover">
	      <% unless current_user.bands.blank? %>
	      <tr>
					<td rowspan="<%= current_user.bands.count %>">Bands:</td>
					<% first = true %>
					<% current_user.bands.each do |band| %>
					<% unless first %><tr><% end %>
						<td>
								<%= link_to band.name, band_path(band) %>
						</td>
						<td>
							<% if band.approved %>
								<%= t(:approved) %>
							<% else %>
								<%= t(:pending) %>
							<% end %>
						</td>
					<% unless first %></tr><% end %>
					<% first = false %>
					<% end %>
				</tr>
				<% end %>

				<% unless current_user.events.blank? %>
				<tr>
					<td rowspan="<%= current_user.events.count %>">Events:</td>
					<% first = true %>
					<% current_user.events.each do |event| %>
					<% unless first %><tr><% end %>
						<td>
								<%= link_to event.name, event_path(event) %>
						</td>
						<td>
							<% if event.approved %>
								<%= t(:approved) %>
							<% else %>
								<%= t(:pending) %>
							<% end %>
						</td>
					<% unless first %></tr><% end %>
					<% first = false %>
					<% end %>
				</tr>
				<% end %>

				<% unless current_user.venues.blank? %>
				<tr>
					<td rowspan="<%= current_user.venues.count %>">Venues:</td>
					<% first = true %>
					<% current_user.venues.each do |venue| %>
					<% unless first %><tr><% end %>
						<td>
								<%= link_to venue.name, venue_path(venue) %>
						</td>
						<td>
							<% if venue.approved %>
								<%= t(:approved) %>
							<% else %>
								<%= t(:pending) %>
							<% end %>
						</td>
					<% unless first %></tr><% end %>
					<% first = false %>
					<% end %>
				</tr>
				<% end %>
      </table> 
		</div> <!-- submissions -->


		<h2>Management</h2>
		<div class="vcard">
			<table class="table table-hover">
	      <% unless @managed_bands.count == 0 %>
	      <tr>
					<td rowspan="<%= @managed_bands.count %>">Bands:</td>
					<% first = true %>
					<% @managed_bands.each do |m_band| %>
					<% band = m_band.band %>
					<% unless first %><tr><% end %>
						<td>
								<%= link_to band.name, band_path(band) %>
						</td>
						<td>
							<% if band.approved %>
								<%= t(:approved) %>
							<% else %>
								<%= t(:pending) %>
							<% end %>
						</td>
					<% unless first %></tr><% end %>
					<% first = false %>
					<% end %>
				</tr>
				<% end %>

				<% unless @managed_events.count == 0 %>
				<tr>
					<td rowspan="<%= @managed_events.count %>">Events:</td>
					<% first = true %>
					<% @managed_events.each do |m_event| %>
					<% event = m_event.event %>
					<% unless first %><tr><% end %>
						<td>
								<%= link_to event.name, event_path(event) %>
						</td>
						<td>
							<% if event.approved %>
								<%= t(:approved) %>
							<% else %>
								<%= t(:pending) %>
							<% end %>
						</td>
					<% unless first %></tr><% end %>
					<% first = false %>
					<% end %>
				</tr>
				<% end %>

				<% unless @managed_venues.count == 0 %>
				<tr>
					<td rowspan="<%= @managed_venues.count %>">Venues:</td>
					<% first = true %>
					<% @managed_venues.each do |m_venue| %>
					<% venue = m_venue.venue %>
					<% unless first %><tr><% end %>
						<td>
								<%= link_to venue.name, venue_path(venue) %>
						</td>
						<td>
							<% if venue.approved %>
								<%= t(:approved) %>
							<% else %>
								<%= t(:pending) %>
							<% end %>
						</td>
					<% unless first %></tr><% end %>
					<% first = false %>
					<% end %>
				</tr>
				<% end %>
      </table> 
		</div> <!-- management -->

	</div>
	<div class="col-md-6">
		<%= render 'liked_bands' %>		
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<%= render 'liked_venues' %>
	</div>
	<div class='col-md-4'>
		<%= render 'liked_band_events' %>
	</div>
</div>







<script>
  $(document).ready(function(){
    init_grid_tiles();
    $(window).trigger('resize');
    //imagesLoaded
    $('.grid-tiles').imagesLoaded(function() {
      $(window).trigger('resize');
    });
  });
</script>



