<p>First, search for a user by entering their email or username, then select a user and venue. This will create and approve manager permissions for the user.</p>

<%= form_tag new_admin_venue_manager_path, method: :get do %>
  <p>
    <%= text_field_tag :query, params[:query], placeholder: "Enter username or email" %>
    <%= submit_tag "Search", name: nil %>
  </p>
<% end %>

<%= form_tag admin_venue_managers_path, method: :post do %>


<% unless @users == nil %>
  <% @users.each do |user| %>
    <%= check_box_tag :user_id, user.id %>
    <%= label_tag :user_id, user.username %>
  <% end %>
<% end %>

<p>
  <%= label_tag :venue %>
  <%= select_tag(:venue_id, options_for_select(Venue.all.collect {|v| [ v.name, v.id ] }, { include_blank: true })) %>
</p>
<%= hidden_field_tag(:approved, true) %>
<%= submit_tag %>
<% end %>

<p>
  <%= link_to "Back", admin_venue_managers_path %>
</p>