<%= form_for @venue do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name, class: "form-control half" %><br />
	<%= f.label :phone %>
	<%= f.text_field :phone, class: "form-control half" %><br />
	<%= f.label :address %>
	<%= f.text_area :address, class: "form-control half" %><br />
	<%= f.label "English bio" %>
	<%= f.cktext_area :en_bio %><br />
	<%= f.label "Korean bio" %>
	<%= f.cktext_area :ko_bio %><br />
	<%= f.label :facebook %>
	<%= f.text_field :facebook, class: "form-control half" %><br />
	<%= f.label :cafe %>
	<%= f.text_field :cafe, class: "form-control half" %><br />
	<%= f.label :website %>
	<%= f.text_field :website, class: "form-control half" %><br />
	<%= f.label :photo %>
	<%= f.file_field :avatar %><br />
	<%= f.label :map %>
	<%= f.file_field :small_map %><br />
	<% if @venue.id != nil %>
		<p>This Venue is already linked to: <% @venue.cities.each do |city| %>
			<%= city.en_name %> - <%= city.ko_name %></p>
		<% end %>
	<% end %>
	<%= label_tag :city %>
    <%= select_tag :city, options_for_select(@cities.collect { |city| [city.en_name, city.id] }.insert(0, '')) %><br />
    <p>City not listed? Add it below:</p>
    <%= label_tag :new_city %>
    <%= text_field_tag :new_city %><br />
	<%= f.submit %>
<% end %>