<h2><%= @venue.name %></h2>
<h4><%= @venue.korean_name %></h4>
<div class="row">
  <div class="col-md-6">
    <% unless @venue.twitter.blank? %>
      <p> Latest tweets:</p>
      <ul>
        <% twitter_client.user_timeline("#{@tweet_url}").take(3).each do |tweet| %>
          <li><%= tweet.text.html_safe %></li>
        <% end %>
      </ul>
    <% end %>
    <% unless @venue.small_map.blank? %>
	    <%= image_tag @venue.small_map %>
    <% end %>
  </div>
  <div class="col-md-6">
    <%= image_tag @venue.avatar :medium%>
  </div>
</div><!--row-->
<div class="row">
  <div class="col-md-6">
    <% if I18n.locale == :en %>
      <h4>About</h4>
      <% unless @venue.en_bio.blank? %>
        <p><%= @venue.en_bio.html_safe %></p>
      <% else %>
        <p>Sorry, no bio for this venue yet</p>
      <% end %>
      <h4>Directions:</h4>
      <% unless @venue.en_directions.blank? %>
          <p><%= @venue.en_directions.html_safe %></p>
      <% else %>
          <p>Sorry, no directions for this venue yet</p>
      <% end %>
    <% else %>
      <h4>About</h4>
      <% unless @venue.ko_bio.blank? %>
        <p><%= @venue.ko_bio.html_safe %></p>
      <% else %>
        <p>Sorry, no bio for this venue yet.</p>
      <% end %>
      <h4>Directions:</h4>
      <% unless @venue.ko_directions.blank? %>
        <p><%= @venue.ko_directions.html_safe %></p>
      <% else %>
        <p>Sorry, directions for this venue yet.</p>
      <% end %>
    <% end %>
  </div>
  
  <div class="col-md-6">
    <div style='width: 100%;'>
	    <div id="map" style='width: 100%; height: 400px;'></div>
    </div>
  </div>
</div><!--row-->
<div class="row">
  <div class="col-md-12">
    <% unless Event.where(venue_id: @venue.id) == nil %>
      <% Event.where(venue_id: @venue.id).each do |event| %>
        <%= link_to event.name, event_path(event) %><br />
      <% end %>
    <% else %>
    <h3>There are no events for this venue yet!</h3>
    <% end %>
  </div>
</div>



<% unless @venue.latitude.blank? %>
<script type="text/javascript">
	handler = Gmaps.build('Google');
		handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){


			markers = handler.addMarkers(<%=raw @hash.to_json %>);

			handler.bounds.extendWith(markers);
			handler.fitMapToBounds();
			handler.getMap().setZoom(15)
		});
</script>
<% else %>
	<p>We don't have the address for this venue yet!</p>
<% end %>


  <% @venue.venue_cities.each do |venue_city| %>
  <p>
  	<%= link_to "#{venue_city.city.en_name}"+"-"+"#{venue_city.city.ko_name}", city_path(venue_city.city.en_name) %> 
  <% end %>
  </p>


<% if current_user && current_user.venue_managers.where(venue_id: @venue.id).count == 0 %>
	<p><%= t(:venue_request) %> <%= link_to t(:manager_request), venue_managers_path(venue_id: @venue.id), method: 'post' %>.</p>
<% elsif current_user && current_user.venue_managers.where(venue_id: @venue.id).count != 0 && current_user.venue_manager?(@venue.id) == true %>
    <p>You're a manager! <%= link_to "Edit this band", edit_venue_path(@venue) %></p>
<% elsif current_user && current_user.venue_managers.where(venue_id: @venue.id).count != 0 %>
    <p><%= t(:pending_approval) %></p>
<% else %>
	<p><%= t(:venue_request) %> <%= t(:login_request) %><p>
<% end %>

<% if current_user && current_user.admin == true %>
  <%= link_to "Edit this venue", edit_venue_path(@venue) %>
<% end %>