<%= @venue.name %>

<%= image_tag @venue.avatar :medium%>
<div style='width: 600px;'>
	<div id="map" style='width: 600px; height: 400px;'></div>
</div>

<p><%= @venue.en_bio.html_safe %></p>

<% unless @venue.latitude == nil %>
<script type="text/javascript">
	handler = Gmaps.build('Google');
		handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){


			markers = handler.addMarkers(<%=raw @hash.to_json %>);

			handler.bounds.extendWith(markers);
			handler.fitMapToBounds();
			handler.getMap().setZoom(15)
		});
</script>
<% else %>
<p>Uh-oh, we don't have the address for this venue yet!</p>
<% end %>

<% if current_user && current_user.venue_managers.where(venue_id: @venue.id).count == 0 %>
	<p><%= t(:venue_request) %> <%= link_to t(:manager_request), venue_managers_path(venue_id: @venue.id), method: 'post' %>.</p>
<% elsif current_user && current_user.venue_managers.where(venue_id: @venue.id).count != 0 && current_user.venue_manager?(@venue.id) == true %>
    <p>You're a manager! <%= link_to "Edit this band", edit_venue_path(@venue) %></p>
<% elsif current_user && current_user.venue_managers.where(venue_id: @venue.id).count != 0 %>
    <p><%= t(:pending_approval) %></p>
<% else %>
	<p><%= t(:venue_request) %> <%= t(:login_request) %><p>
<% end %>