<div class="container-fluid venue-detail">
  <h1 class="page-title"><%= @venue.name %></h1>
  <h2><%= @venue.korean_name %></h2>
  <div class="row">
    <p>Fans: <%= @venue.fans %></p>
    <div class="likebtn">			
	   	<% if current_user && current_user.liked_venues.where(id: @venue.id).count != 0 %>
		    <%= link_to "<i class=\"fa fa-thumbs-up\"></i> Unlike".html_safe, venue_fan_path(id: @venue.id), method: 'delete' %>
			<% elsif current_user %>
      <%= link_to "<i class=\"fa fa-thumbs-o-up\"></i> Like".html_safe, venue_fans_path(id: @venue.id), method: 'post' %>
			<% else %>
				<%= link_to t(:signup), new_user_registration_path %> 
			<% end %>
		</div>
    <div class="col-sm-7 vcard">
      <table class="table table-hover">
      <% unless @venue.phone == nil %>
        <tr>
          <td><%= t(:venue_phone) %></td>
          <td><%= @venue.phone %></td>
        </tr>
      <% end %>
      <% unless @venue.email == nil %>
        <tr>
          <td><%= t(:venue_email) %></td>
          <td><%= @venue.email %></td>
        </tr>
      <% end %>
      <% unless @venue.address == nil %>
        <tr>
          <td><%= t(:venue_address) %></td>
          <td><%= @venue.address %></td>
        </tr>
      <% end %>
      </table> 

      <ul class="nav nav-pills venue-socials">
        <% unless @venue.facebook.blank? %>
        <li><%= link_to "<i class=\"fa fa-facebook\"></i> ".html_safe+t(:facebook), @venue.facebook, class: 'facebook' %></li>
        <% end %>
        <% unless @venue.twitter.blank? %>
        <li><%= link_to "<i class=\"fa fa-twitter\"></i> ".html_safe+t(:twitter), @venue.twitter, class: 'twitter' %></li>
        <% end %>        
        <% unless @venue.website.blank? %>
        <li><%= link_to "<i class=\"fa fa-globe\"></i> ".html_safe+t(:website), @venue.website, class: 'website' %></li>
        <% end %>
        <% unless @venue.cafe.blank? %>
        <li><%= link_to "<i class=\"fa fa-coffee\"></i> ".html_safe+t(:cafe), @venue.cafe, class: 'cafe' %></li>
        <% end %>
      </ul>     

      <% unless @venue.twitter.blank? %> 
        <%unless @venue.tweets.blank? %>
          <blockquote class="blockquote-reverse">
            <p><%= (Twitter::Autolink::auto_link @venue.tweets[0].text).html_safe %></p>
            <footer><%= t(:twitter_latest_feed) %></footer>
          </blockquote>
        <% end %>
      <% end %>
      <% unless @venue.minimap.blank? %>
      <%= image_tag @venue.minimap %>
      <% end %>
      
    </div>
    <div class="col-sm-5 avatar">
      
        <%= image_tag (@venue.avatar :medium) %>
    </div>
  </div><!--row-->
  <br>
  <div class="row">
    <div class="col-md-5">
      <!-- ENGLISH -->
      <% if I18n.locale == :en %>
        <!-- Bio -->
        <h3><%= t(:biographies) %></h3>
        <% unless @venue.en_bio.blank? %>
          <p><%= @venue.en_bio.html_safe %></p>
        <% else %>
          <p>Sorry, no bio for this venue yet</p>
        <% end %>
        
        <!-- Direction -->
        <h3><%= t(:directions) %></h3>
        <% unless @venue.en_directions.blank? %>
          <p><%= @venue.en_directions.html_safe %></p>
        <% else %>
          <p><%= t(:no_directions)%></p>
        <% end %>
      <% else %>
      <!-- KOREAN -->
        <!-- Bio -->
        <h3><%= t(:biographies) %></h3>
        <% unless @venue.ko_bio.blank? %>
          <p><%= @venue.ko_bio.html_safe %></p>
        <% else %>          
          <% unless @venue.en_bio.blank? %>
            <p><%= @venue.en_bio.html_safe %></p>
          <% else %>
            <p><%= t(:no_ko_bio) %></p>
          <% end %>
        <% end %>
        <!-- Direction -->
        <h3><%= t(:directions) %></h3>
        <% unless @venue.ko_directions.blank? %>
          <p><%= @venue.ko_directions.html_safe %></p>
        <% else %>
          <p><%= t(:no_directions) %></p>
        <% end %>
      <% end %>
    </div>
    
    <div class="col-md-7">
      <div style='width: 100%;'>
        <div id="map" style='width: 100%; height: 400px;'></div>
      </div>
    </div>
  </div><!--row-->

  <div class="row">
    <h3><%= t(:next_events)%></h3>
    <% events = Event.upcoming.approved.where(venue_id: @venue.id) %>
    <% unless events.empty? %>
      <%= render 'shared/events_list', :events => events %>
    <% else %>
      <div class="alert alert-warning text-center"><%= t(:no_events)%></div>
    <% end %>
  </div>

  <div class="row">
      <%= render 'shared/socialshare' %>
    </div> <!-- social share -->
  
  <% unless @venue.latitude.blank? %>
  <script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){


      markers = handler.addMarkers(<%=raw @hash.to_json %>);

      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(15)
    });
  </script>
  <% else %>
  <p>We don't have the address for this venue yet!</p>
  <% end %>
  
  
  <% @venue.venue_cities.each do |venue_city| %>
  <p><%= t(:city) %> <%= link_to "#{venue_city.city.en_name}"+"-"+"#{venue_city.city.ko_name}", city_path(venue_city.city.en_name) %> 
    <% end %>
  </p>
</div>
<% if current_user && current_user.venue_managers.where(venue_id: @venue.id).count == 0 %>
<p><%= link_to t(:manager_request), venue_managers_path(venue_id: @venue.id), method: 'post' %>.</p>
<% elsif current_user && current_user.venue_managers.where(venue_id: @venue.id).count != 0 && current_user.venue_manager?(@venue.id) == true %>
<p>You're a manager! <%= link_to "Edit this band", edit_venue_path(@venue) %></p>
<% elsif current_user && current_user.venue_managers.where(venue_id: @venue.id).count != 0 %>
<p><%= t(:pending_approval) %></p>
<% else %>
<p><%= t(:venue_request) %> <%= t(:login_request) %><p>
  <% end %>

  <% if current_user && current_user.admin == true %>
  <%= link_to "Edit this venue", edit_venue_path(@venue) %>
  <% end %>