<%= form_for [:admin, @venue] do |f| %>
	<%= f.label t(:venue_name_en) %>
	<%= f.text_field :name, class: "form-control half" %><br />
	<%= f.label t(:venue_name_ko) %>
	<%= f.text_field :ko_name, class: "form-control half" %><br />

		<% unless @venue.avatar.blank? %>
		<p>
			Current image:<br/>
			<%= image_tag(@venue.avatar :medium) %>
		</p>
	<% end %>
	<p>
		<%= f.label t(:venue_image) %>
		<%= f.file_field :avatar %>
		<%= t(:venue_image_note) %>
	</p>
	<p>
		<%= f.label t(:venue_bio_en) %>
		<%= f.text_area :en_bio, class: "form-control half" %>
	</p>
	<p>
		<%= f.label t(:venue_bio_ko) %>
		<%= f.text_area :ko_bio, class: 'form-control half' %>
		<%= t(:venue_bio_note) %>
	</p>
	<%= f.label t(:website) %>
	<%= f.text_field :website, class: "form-control half" %><br />

	<%= f.label t(:facebook) %>
	<%= f.text_field :facebook, class: "form-control half" %><br />
	<%= t(:facebook_note)%><br />

	<%= f.label t(:twitter) %>
	<%= f.text_field :twitter, class: "form-control half" %><br />
	<%= t(:twitter_note)%><br />
	
	<%= f.label t(:cafe) %>
	<%= f.text_field :cafe, class: "form-control half" %><br />
	<%= t(:cafe_note)%><br />

	<%= f.label t(:email) %>
	<%= f.text_field :email, class: "form-control half" %><br />

	<%= f.label t(:venue_phone) %>
	<%= f.text_field :phone, class: "form-control half" %><br />

	<p>
		<%= f.label t(:en_directions) %>
		<%= f.text_area :en_directions, class: "form-control half" %>
	</p>

	<p>
		<%= f.label t(:ko_directions) %>
		<%= f.text_area :ko_directions, class: "form-control half" %>
		<%= t(:written_directions_note)%>
	</p>

	<%= f.label t(:address) %>
	<%= f.text_area :address, class: "form-control half" %><br />
	<p><%= t(:one_language) %></p>
	

	<% unless @venue.minimap.blank? %>
		<p>
			Current image:<br/>
			<%= image_tag(@venue.minimap :medium) %>
		</p>
	<% end %>
	

	
	<%= f.label t(:map) %>
	<%= f.file_field :minimap %><br />
	<%= t(:map_note)%><br />

	<% if I18n.locale == :en %>
	  <p>
	    <%= f.label t(:city) %>
	    <%= f.collection_select :city_id, City.order(:en_name), :id, :en_name %>
	  </p>
  <% else %>
		<p>
			<%= f.label t(:city) %>
			<%= f.collection_select :city_id, City.order(:ko_name), :id, :ko_name %>
		</p>
  <% end %>
  <p>
	    <%= f.label :approved %>
	    <%= f.check_box :approved %>
	</p>
	<%= f.submit %>
<% end %>


<script>
  $(document).ready(function() { $('#venue_city_id').chosen({width: "50%"}); });
  
</script>