<div class="row">
  <div class="col-sm-6">
    <h1>
      Edit Venue <small><%= "#{@venue.name.capitalize} - id: #{@venue.id}" %></small>
    </h1>
    <p><%= link_to "Back to venues", admin_venues_path %></p>

    <%= form_for [:admin, @venue], :html => { :role => "form" } do |f| %>
    
    <div class="form-group">
      <%= f.label :name %>
      <div class="row">
        <div class="col-sm-6">
          <%= f.text_field :name, :autofocus => true, class: "form-control" %>  
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :korean_name %>
      <div class="row">
        <div class="col-sm-6">
          <%= f.text_field :korean_name, :autofocus => true, class: "form-control" %>  
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <%= f.label :phone %>
      <div class="row">
        <div class="col-sm-6">      
          <%= f.text_field :phone, class: "form-control" %>  
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :address %>
      <div class="row">
        <div class="col-sm-6">      
          <%= f.text_field :address, class: "form-control" %>  
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :en_bio %>
      <div class="row">
        <div class="col-md-12">      
          <%= f.cktext_area :en_bio, class: "form-control" %>  
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :ko_bio %>
      <div class="row">
        <div class="col-sm-12">      
          <%= f.cktext_area :ko_bio, class: "form-control" %>  
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :facebook %>
      <div class="row">
        <div class="col-md-6">      
          <%= f.text_field :facebook, class: "form-control" %>  
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :cafe %>
      <div class="row">
        <div class="col-sm-6">      
          <%= f.text_field :cafe, class: "form-control" %>  
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :website %>
      <div class="row">
        <div class="col-sm-6">      
          <%= f.text_field :website, class: "form-control" %>  
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :approved %>
      <div class="row">
        <div class="col-sm-6">
          <%= f.check_box :approved %>
        </div>
      </div>
    </div>
    

    <div class="row">
      <div class="col-sm-6">
        <%= f.submit "Update venue", class: "btn btn-danger" %>
      </div>
    </div>    
    
    <% end %>

  </div>
</div>