<h1>Venues <small>Admin</small></h1>
<p><%= link_to "Back to Admin", admin_root_path %></p>

<div class="text-center">
  <p><%= page_entries_info @venues %></p>
  <%= paginate @venues %>
</div>

<%= form_tag admin_venues_path, method: 'get', html: {role: "form"} do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil, class: "btn btn-sm btn-primary" %>
    <%= link_to "All", admin_venues_path, {class: "btn btn-sm btn-link"} %>
  </p>
<% end %>

<table class="table table-striped">
  <tr>
    <th>Venue ID</th>
    <th>Name</th>
    <th>Approved?</th>
    <th>Created by</th>
    <th>Created at</th>
  </tr>
  
  <% @venues.each do |venue| %>
  
  <tr>
    <td><%= venue.id %></td>
    <td><%= link_to venue.name.capitalize, edit_admin_venue_path(venue.id) %></td>
    <td><%= venue.approved %></td>
    <% unless venue.user_id.blank? %>
    <td><%= "#{venue.user.username}" %></td>
    <% else %>
    <td></td>
    <% end %>
    <td><%= time_ago_in_words(venue.created_at) %></td>
  </tr>
  
  <% end %>
  
</table>

<div class="text-center">
  <p><%= page_entries_info @venues %></p>
  <%= paginate @venues %>
</div>