<div class="row">
  <div class="col-sm-6">
    <h1>
      Edit band <small><%= "#{@band.name.capitalize} - id: #{@band.id}" %></small>
    </h1>
    <p><%= link_to "Back to bands", admin_bands_path %></p>

    <%= form_for [:admin, @band], :html => { :role => "form" } do |f| %>
    
    <div class="form-group">
      <%= f.label :name %>
      <div class="row">
        <div class="col-sm-6">
          <%= f.text_field :name, :autofocus => true, class: "form-control" %>  
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <%= f.label :korean_name %>
      <div class="row">
        <div class="col-sm-6">      
          <%= f.text_field :korean_name, class: "form-control" %>  
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :contact %>
      <div class="row">
        <div class="col-sm-6">
          <%= f.text_field :contact, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :facebook %>
      <div class="row">
        <div class="col-sm-6">
          <%= f.text_field :facebook, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :twitter %>
      <div class="row">
        <div class="col-sm-6">
          <%= f.text_field :twitter, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :site %>
      <div class="row">
        <div class="col-sm-6">
          <%= f.text_field :site, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <%= f.submit "Update band", class: "btn btn-danger" %>
      </div>
    </div>    
    
    <% end %>

  </div>
</div>