<h1>Bands <small>Admin</small></h1>
<p><%= link_to "Back to Admin", admin_root_path %></p>

<div class="text-center">
  <p><%= page_entries_info @bands %></p>
  <%= paginate @bands %>
</div>

<%= form_tag admin_bands_path, method: 'get', html: {role: "form"} do %>
  <p>
    <%= text_field_tag :search, params[:search], placeholder: "English or Korean" %>
    <%= submit_tag "Search", :name => nil, class: "btn btn-sm btn-primary" %>
    <%= link_to "All", admin_bands_path, {class: "btn btn-sm btn-link"} %>
  </p>
<% end %>

<table class="table table-striped">
  <tr>
    <th><%= link_to "Band ID", sort: "id" %></th>
    <th>Name</th>
    <th>Korean Name</th>
    <th>Approved?</th>
    <th><%= link_to "Created At", sort: "created_at" %></th>
    <th><%= link_to "Created By", sort: "user_id" %></th>
  </tr>
  
  <% @bands.each do |band| %>
  
  <tr>
    <td><%= band.id %></td>
    <td><%= link_to band.name.capitalize, admin_band_path(band) %></td>
    <td><%= band.korean_name %></td>
    <td><%= band.approved? %></td>
    <td><%= time_ago_in_words(band.created_at) %></td>
    <% unless band.user_id.blank? %>
    <td><%= "#{band.user.username}" %></td>
    <% else %>
    <td></td>
    <% end %>
  </tr>
  
  <% end %>
  
</table>

<div class="text-center">
  <p><%= page_entries_info @bands %></p>
  <%=  paginate @bands %>
</div>