<%= form_for @band do |f| %>
<p>  
  <%= f.label t(:band_name_en) %>
  <%= f.text_field :name, class: "form-control half" %>
</p>
<p>
  <%= f.label t(:band_name_ko) %>
  <%= f.text_field :korean_name, class: "form-control half" %>
</p>

<p>
  <% unless @band.avatar.blank? %>
    Current image: <%= image_tag @band.avatar.url :medium %>
  <% end %>
</p>

<p>
  <%= f.label t(:band_image) %>
  <%= f.file_field :avatar %>
  <% t(:band_image_note)%>
</p><br/>

<p>
  <%= f.label t(:band_bio_en) %>
  <%= f.text_area :en_bio, class: "form-control half" %>
</p>
<p>
  <%= f.label t(:band_bio_ko) %>
  <%= f.text_area :ko_bio, class: "form-control half" %>
  <%= t(:band_bio_note) %>
</p><br/>

<p>
  <%= f.label t(:soundcloud) %>
  <%= f.text_field :soundcloud, placeholder: "soundcloud.com/yourband", class: "form-control half" %>
  <%= t(:soundcloud_note) %>
</p><br/>

<p>
  <%= f.label t(:facebook) %>
  <%= f.text_field :facebook, placeholder: "facebook.com/yourband", class: "form-control half" %>
  <%= t(:facebook_note)%>
</p><br/>

<p>
  <%= f.label t(:twitter) %>
  <%= f.text_field :twitter, placeholder: "twitter.com/yourband", class: "form-control half" %>
  <%= t(:twitter_note) %>
</p><br/>

<p>
  <%= f.label t(:bandcamp) %>
  <%= f.text_field :bandcamp, placeholder: "bandcamp.com/yourband", class: "form-control half" %>
  <%= t(:bandcamp_note)%>
</p><br/>

<p>
  <%= f.label t(:purchase) %>
  <%= f.text_field :itunes, placeholder: "iTunes or other online store that sells your music", class: "form-control half" %>
  <%= t(:purchase_note) %>
</p><br/>

<p>
  <%= f.label :myspace %>
  <%= f.text_field :myspace, placeholder: "myspace.com/yourband", class: "form-control half" %>
  <%= t(:facebook_note) %>
</p>

<p>
  <%= f.label t(:contact) %>
  <%= f.text_field :contact, placeholder: "your label or 'unsigned'", class: "form-control half" %>
</p>

<p>
  <%= f.label t(:label) %>
  <%= f.text_field :label, placeholder: "010-1234-1234", class: "form-control half" %>
</p>

<p>
  <%= f.label t(:youtube_links) %>
  <%= f.text_field :youtube, placeholder: "Youtube video URL only", class: "form-control half" %>

</p>

<p>
  <%= f.fields_for :youtubes do |youtube| %>
    <fieldset>
      <%= render 'youtube_fields', :f => youtube %>
    </fieldset>
  <% end %>
  <div class="links">
    <%= link_to_add_association 'Add video', f, :youtubes, class: "btn btn-sm btn-primary" %>
  </div>
</p>


<p>
  <%= f.label :cafe %>
  <%= f.text_field :cafe, placeholder: "naver or daum cafe", class: "form-control half" %>
  <%= t(:cafe_note)%>
</p><br/>

<p>
  <%= f.label :site %>
  <%= f.text_field :site, placeholder: "band homepage or other misc site", class: "form-control half" %>
  <%= t(:facebook_note) %>
</p>



<%= f.submit %>
<% end %>