
<div class="row">
	<% @bands.each do |band| %>
		<div class="col-sm-6 col-md-4">
			<%= div_for(band, class: "list") do %>
				<div class="thumbnail">
					<%= image_tag band.avatar.url(:medium) %>
					
					<div class="caption">
						<h3><%= link_to band.name, band_path(band) %></h3>
						<h4><%= link_to band.korean_name, band_path(band) %></h4>
					    <p>Fans: <%= band.fans %></p>
					    <p>

					    	<% if current_user && current_user.user_fans.where(band_id: band.id).count != 0 %>
								<%= link_to "Unlike", user_fan_path(id: band.id), method: 'delete', class: "btn btn-primary" %>
							<% elsif current_user %>
								<%= link_to "Like", user_fans_path(band_id: band.id), method: 'post', class: "btn btn-primary" %>
							<% else %>
	              <p><%= t(:signup) %></p> 
							<% end %>
					</div>
				</div>
			<% end %> <!--div_for-->
		</div>
	<% end %>
</div>
<div class="text-center">
	<p><%= page_entries_info @bands %></p>
	<%= paginate @bands %>
</div>