<h2><%= @band.name %></h2><br/>
<h3><%= @band.korean_name %></h3><br/>
<%= image_tag(@band.avatar) %>
<%= @band.twitter %><br />
<%= @band.facebook %>
<%= @band.contact %>
<%= @band.site %>
<%= @band.label %>
<%= @band.genre %>



<% if current_user %>
	<p><%= t(:band_request) %> <%= link_to t(:manager_request), band_managers_path(band_id: @band.id), method: 'post' %></p>
<% else %>
	<p><%= t(:band_request) %> <%= t(:login_request) %><p>
<% end %>

<% if current_user && current_user.user_fans.where(band_id: @band.id).count != 0 %>
<%= link_to "Unlike", user_fan_path(band_id: @band.id), method: 'delete', class: "btn btn-default" %>
<% elsif current_user %>
	<%= link_to "Like", user_fans_path(band_id: @band.id), method: 'post', class: "btn btn-default" %>
<% end %>

<% if current_user && current_user.admin == true %>
  <%= link_to "Edit this band", edit_band_path(@band) %>
<% end %>