<div class="row">
  <div class="col-md-6">
    <%= image_tag(@band.avatar :large) %>
    <h2><%= @band.name %></h2>
    <h3><%= @band.korean_name %></h3>
    <p>Fans: <%= @band.fans %></p>
    <% if current_user && current_user.user_fans.where(band_id: @band.id).count != 0 %>
<%= link_to "Unlike", user_fan_path(band_id: @band.id), method: 'delete', class: "btn btn-default" %>
<% elsif current_user %>
	<%= link_to "Like", user_fans_path(band_id: @band.id), method: 'post', class: "btn btn-default" %>
<% end %>
    
  </div>
  
  <div class="col-md-6">
    <% unless @band.soundcloud.blank? %>
      <%= @embed_info['html'].html_safe %>
    <% else %>
      <p>Yikes! This band's soundcloud link is missing. Do you know it? Request manager status below.</p>
    <% end %>
    <% unless @band.twitter.blank? %>
      <p> Latest tweets:</p>
      <ul>
        <% twitter_client.user_timeline("#{@tweet_url}").take(3).each do |tweet| %>
          <li><%= tweet.text.html_safe %></li>
        <% end %>
      </ul>
      <% else %>
      <p>Yikes! This band's twitter link is missing. Do you know it? Request manager status below.</p>
    <% end %>
  </div>
</div><!--row-->

<% unless @band.en_bio.blank? %>
  <p><%= @band.en_bio.html_safe %></p>
<% end %>
<% unless @band.youtube.blank? %>
  <div class="row">
    <div class="col-md-6">
      <div class="video-container">
        <iframe width="100%" height="349" src="http://www.youtube.com/embed/<%= @band.youtube %>" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  <div class="col-md-6">
    <% else %>
      <p>Yikes! This band's youtube info is missing. Do you know it? Request manager status below.</p>
<% end %>

    <%= @band.facebook %>
    <%= @band.contact %>
    <%= @band.site %>
    <%= @band.label %>
    <p>Genres:
	    <% @band.genres.each do |genre| %>
		    <%= link_to genre.name, genre_path(genre.name) %>
	    <% end %>
    </p>
  </div>
</div>




<% if current_user && current_user.band_managers.where(band_id: @band.id).count == 0 %>
	<p><%= t(:band_request) %> <%= link_to t(:manager_request), band_managers_path(band_id: @band.id), method: 'post' %>.</p>
<% elsif current_user && current_user.band_managers.where(band_id: @band.id).count != 0 && current_user.approved_manager?(@band.id) == true %>
    <p>You're a manager! <%= link_to "Edit this band", edit_band_path(@band) %></p>
<% elsif current_user && current_user.band_managers.where(band_id: @band.id).count != 0 %>
    <p><%= t(:pending_approval) %></p>
<% else %>
	<p><%= t(:band_request) %> <%= t(:login_request) %><p>
<% end %>



<% if current_user && current_user.admin == true %>
  <%= link_to "Edit this band", edit_band_path(@band) %>
<% end %>