<div class="row">
  <div class="col-sm-6">
    <h1>
      Edit city <small><%= "#{@city.en_name}" %></small>
    </h1>
    <p><%= link_to "Back to index", admin_cities_path %></p>

    <%= form_for [:admin, @city], :html => { :role => "form" } do |f| %>
    
    <div class="form-group">
      <%= f.label :en_name %>
      <div class="row">
        <div class="col-sm-6">
          <%= f.text_field :en_name %>  
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :ko_name %>
      <div class="row">
        <div class="col-sm-6">
          <%= f.text_field :ko_name %>  
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-6">
        <%= f.submit "Update city", class: "btn btn-danger" %>
      </div>
    </div>    
    
    <% end %>

  </div>
</div>