<div class="row">
  <div class="col-sm-6">
    <% unless @manager.band.blank? %>
    <h1>
      Edit manager <small><%= "#{@manager.user.username.capitalize} - band: #{@manager.band.name}" %></small>
    </h1>
    <% else %>
      <h1>Opps, this manager was created for a band no longer exists, please delete it.</h1>
    <% end %>
    <p><%= link_to "Back to managers", admin_band_managers_path %></p>

    <%= form_for [:admin, @manager], :html => { :role => "form" } do |f| %>
    
    <div class="form-group">
      <%= f.label :approved %>
      <div class="row">
        <div class="col-sm-6">
          <%= f.check_box :approved %>   
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-6">
        <%= f.submit "Update manager", class: "btn btn-danger" %>
      </div>
    </div>    
    
    <% end %>
    <%= link_to 'Delete', admin_band_manager_path(@manager), method: 'DELETE', data: { confirm: 'Are you sure?' } %>
  </div>
</div>