<h1>managers <small>Admin</small></h1>
<p><%= link_to "Back to Admin", admin_root_path %></p>
<p><%= link_to "New band manager", new_admin_band_manager_path %></p>

<div class="text-center">
  <p><%= page_entries_info @managers %></p>
  <%= paginate @managers %>
</div>

<%= form_tag admin_band_managers_path, method: 'get', html: {role: "form"} do %>
  <p>
    <%= text_field_tag :search, params[:search], placeholder: "Search by username" %>
    <%= submit_tag "Search", :name => nil, class: "btn btn-sm btn-primary" %>
    <%= link_to "All", admin_band_managers_path, {class: "btn btn-sm btn-link"} %>
  </p>
<% end %>

<table class="table table-striped">
  <tr>
    <th>managers ID</th>
    <th>Username</th>
    <th>Email</th>
    <th>Bandname</th>
    <th>Approved?</th>
    <th>Created at</th>
  </tr>
  
  <% @managers.each do |manager| %>
  
  <tr>
    <td><%= manager.id %></td>
    <td><%= link_to manager.user.username.capitalize, admin_band_manager_path(manager) %></td>
    <td><%= manager.user.email %></td>
    <% unless manager.band.blank? %>
      <td><%= manager.band.name %></td>
    <% else %>
      <td>No name for this band</td>
    <% end %>
    <td><%= manager.approved  %></td>
    <td><%= time_ago_in_words(manager.created_at) %></td>
  </tr>
  
  <% end %>
  
</table>

<div class="text-center">
  <p><%= page_entries_info @managers %></p>
  <%= paginate @managers %>
</div>