<p>First, search for a user by entering their email or username, then select a user and band. This will create and approve manager permissions for the user.</p>

<%= form_tag new_admin_band_manager_path, method: :get do %>
  <p>
    <%= text_field_tag :query, params[:query], placeholder: "Enter username or email" %>
    <%= submit_tag "Search", name: nil %>
  </p>
<% end %>

<%= form_tag admin_band_managers_path, method: :post do %>


<% unless @users == nil %>
  <% @users.each do |user| %>
    <%= check_box_tag :user_id, user.id %>
    <%= label_tag :user_id, user.username %>
  <% end %>
<% end %>

<p>
<%= label_tag :band %>
  <%= select_tag(:band_id, options_for_select(Band.all.collect {|b| [ b.name, b.id ] }, { include_blank: true })) %>
</p>
<%= hidden_field_tag(:approved, true) %>
<%= submit_tag %>
<% end %>

<p>
  <%= link_to "Back", admin_band_managers_path %>
</p>