<p>
	<%= link_to "Back", admin_band_managers_path %>
</p>
<%= form_for [:admin, @manager] do |f| %>

<p>Select a user and band. This will create and approve manager permissions for the user.</p>
<p>
	<%= f.label :username %>
	<%= f.collection_select(:user_id, User.all, :id, :name_with_email) %>
</p>

<p>
	<%= f.label :band %>
	<%= f.select(:band_id, options_for_select(Band.all.collect {|b| [ b.name, b.id ] }, { include_blank: true })) %>
</p>
<%= hidden_field_tag(:approved, true) %>
<%= f.submit %>
<% end %>