<h1>Admin <small>Home</small></h1>
<div class="row">
  <div class="col-sm-4">
    <h3>Menu</h3>
    <h4><%= link_to "Users", admin_users_path %> <small>- <%= "#{@count} users" %></small></h4>
    <h4><%= link_to t(:bands), admin_bands_path %> <small>- <%= "#{@bands} pending" %></small></h4>
    <h4><%= link_to t(:venues), admin_venues_path %> <small>- <%= "#{@venues} pending" %></small></h4>
    <h4><%= link_to t(:events), admin_events_path %> <small>- <%= "#{@events} pending" %></small></h4>
    <h4><%= link_to t(:band_manager), admin_band_managers_path %> <small>- <%= "#{@managers} pending" %></small></h4>
    <h4><%= link_to t(:venue_manager), admin_venue_managers_path %> <small>- <%= "#{@venue_managers} pending" %></small></h4>
    <h4><%= link_to t(:event_manager), admin_event_managers_path %> <small>- <%= "#{@event_managers} pending" %></small></h4>
    <h4><%= link_to "Cities", admin_cities_path %> <small>- <%= "#{@cities} need attention" %></small></h4>
    <hr/>
  </div>
  
  <div class="col-sm-4">
    <h3>Last Sign Ups</h3>
    <ul class="list-unstyled">
      <% @last_signups.each do |user| %>
      <li class="list-padded-bottom">
        <%= link_to user.username, edit_admin_user_path(user) %><br/>
        <small><%= time_ago_in_words(user.created_at)%> ago</small>
      </li>
      <% end %>
    </ul>
  </div>
  
  <div class="col-sm-4">
    <h3>Last Sign Ins</h3>
    <ul class="list-unstyled">
      <% @last_signins.each do |user| %>
      <li class="list-padded-bottom">
        <%= link_to user.username, edit_admin_user_path(user) %><br/>
        <small>
          <% unless user.last_sign_in_at.nil? %>
          <%= time_ago_in_words(user.last_sign_in_at)%> ago
          <% else %>
          never
          <% end %>
        </small>
      </li>
      <% end %>
    </ul>
  </div>
  
</div>