<%= form_for @post do |f| %>
<%= f.label :title %>
<%= f.text_field :title, class: "form-control half" %><br />
<%= f.label :ko_title %>
<%= f.text_field :ko_title, class: "form-control half" %><br />
<%= f.label :en_body %>
<%= f.cktext_area :en_body, class: "form-control half" %><br />
<%= f.label :ko_body %>
<%= f.cktext_area :ko_body, class: "form-control half" %><br />
<%= f.label :published %>
<%= f.check_box :published %><br />
<%= f.fields_for :slide do |ff| %>
	<p>
		<%= ff.label :en_title %>
		<%= ff.text_field :en_title, class: "form-control half" %>
	</p>
	<p>
		<%= ff.label :ko_title %>
		<%= ff.text_field :ko_title, class: "form-control half" %>
	</p>
	<p>
		<%= ff.label :en_description %>
		<%= ff.text_area :en_description, class: "form-control half" %>
	</p>
	<p>
		<%= ff.label :ko_description %>
		<%= ff.text_area :ko_description, class: "form-control half" %>
	</p>
	<p>
		<%= ff.label :image %>
		<%= ff.file_field :image %>
	</p>
	<p>
		<%= ff.label "Slide active?" %>
		<%= ff.check_box :active %>
	<p>
	<p>
		<%= ff.label :link %>
		<%= ff.text_field :link, class: "form-control half" %>
	</p>
	<p>
		<%= ff.label :anchor %>
		<%= ff.text_field :anchor, class: "form-control half" %>
	</p>
	<% end %>
<%= f.submit %>
<% end %>