<h2>Posts</h2>
<%= link_to "New Post", new_post_path, class: "btn btn-primary" %>

<table class="table table-striped">
	<tr>
		<th>Title</th>
		<th>ID</th>
		<th>Published?</th>
		<th>Image?</th>
	</tr>

	<% @posts.each do |post| %>
		<tr>
			<td><%= link_to post.title, edit_post_path(post) %></td>
			<td><%= link_to post.id, edit_post_path(post) %></td>
			<td><%= post.published %></td>
			<% unless post.image.blank? %>
				<td><%= image_tag post.image.url(:thumb) %></td>
			<% else %>
				<td>no image</td>
			<% end %>
		</tr>
	<% end %>
</table>

<h2>Slides</h2>
<%= link_to "New Slide", new_slide_path, class: "btn btn-primary" %>

<table class="table table-striped">
	<tr>
		<th>ID</th>
		<th>link</th>
		<th>active?</th>
		<th>Image?</th>
	</tr>

	<% @slides.each do |slide| %>
	<tr>
		<td><%= link_to slide.id, edit_slide_path(slide) %></td>
		<td><%= link_to slide.link, edit_slide_path(slide) %></td>
		<td><%= slide.active %></td>
		<% unless slide.image.blank? %>
			<td><%= image_tag(slide.image.url :thumb) %></td>
		<% else %>
			<td>No image</td>
		<% end %>
	</tr>
	<% end %>
</table>