<h2>Blog Admin</h2>

<table class="table table-striped">
	<tr>
		<th>Title</th>
		<th>ID</th>
		<th>Published?</th>
		<th>Image?</th>
		<th>Slide?</th>
	</tr>

	<% @posts.each do |post| %>
		<tr>
			<td><%= link_to post.title, edit_post_path(post) %></td>
			<td><%= link_to post.id, edit_post_path(post) %></td>
			<td><%= post.published %></td>
			<% unless post.image.blank? %>
				<td><%= image_tag post.image.url(:thumb) %></td>
			<% else %>
				<td>no image</td>
			<% end %>
			<% unless post.slide.blank? %>
				<td><%= link_to "edit slide", edit_slide_path(post.slide) %></td>
			<% else %>
				<td>No slide</td>
			<% end %>
		</tr>
	<% end %>
</table>