<% unless @post.slide.image.url.blank? %>
  <%= image_tag @post.slide.image.url %>
<% end %>


<% if I18n.locale == :en %>
	<h2><%= @post.title %></h2>
	<p><%= @post.en_body.html_safe %></p>
<% else %>
	<h2><%= @post.title %></h2>
	<p><%= @post.ko_body.html_safe %></p>
<% end %>

<% @post.tagged_bands.each do |tb| %>
	<p><%= link_to tb.band.name, band_path(tb.band) %></p>
	<% unless tb.band.facebook.blank? %>
		<p><%= link_to tb.facebook, tb.facebook %></p>
	<% end %>
<% end %>

<p>Categories: 
  <% @post.post_categories.each do |pc| %>
      <% unless pc.category.blank? %>
		  <%= link_to pc.category.name, category_path(pc.category) %>,
	  <% end %>
  <% end %>  
</p>

<p>Tags:
  <% @post.post_tags.each do |pt| %>
	  <%= link_to pt.tag.name, tag_path(pt.tag) %>,
  <% end %> 
</p>
