<% provide(:title, t(:blog)) %>

<div class="row page-header">
  <div class="col-md-9">
    <h1 class="page-title">
      <%= link_to t(:blog_title), blog_path %>
    </h1>
  </div>
  <div class="col-md-3 searchform text-center">
    <% if current_user && current_user.blogger == true %>
    <div class="btn-group">
      <%= link_to "New Post", new_post_path, class: "btn btn-primary" %>
      <%= link_to "Blog Admin Page", blog_admin_path, class: "btn btn-danger" %>
    </div>      
    <% end %>
  </div>
</div>


<div class="row">

  <div id="posts-grid" class="col-sm-9">
    <div class="grid-tiles-sidebar">
      <% first_post = " width-double" %>
  	  <% @posts.each do |post| %>
  		  	<%= div_for(post, class: "list posts-grid-item tile"+first_post) do %>
  		  		<div class="thumbnail">
              <% unless post.image.blank? %>
      			  		<%= link_to (image_tag post.image.url(:medium)), post_path(post) %>
              <% end %>
  	  				<div class="caption">
                <% if I18n.locale == :en %>
    		  				<h3><%= link_to post.title, post_path(post) %></h3>
                <% else %>
                  <h3><%= link_to post.ko_title, post_path(post) %></h3>
                <% end %>
  			  		</div>
  				  </div>
    			<% end %> <!--div_for-->
          <% first_post = "" %>
  	  <% end %>
    </div>
  </div><!-- col-md-9 -->

  <div class="col-sm-3 sidebar">
    <h1><%= link_to t(:categories), categories_path %></h1>
    <div class="list-group">
      <% @categories.each do |c| %>        
        <%= link_to "<span class=\"badge\">".html_safe+c.post_categories.count.to_s+"</span>".html_safe+c.name, c, class: "list-group-item" %>
      <% end %>
    </div>
    <% @ads.each do |ad| %>
      <%= div_for(ad, class: 'ad') %>
      <% if I18n.locale == :en %>
        <%= link_to(image_tag(ad.image.url(:medium)), ad.link) %>
      <% else %>
        <%= link_to(image_tag(ad.image.url(:medium)), ad.ko_link) %>
      <% end %>
    <% end %>
  </div><!--sidebar-->
</div><!--row-->